@model FrontEnd.Models.ColorViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de los Colores</h1>
<h4>Colores</h4>

<div class="product_image_area">
	<div class="container">
		<div class="row s_product_inner">
			
			<div class="col-lg-6">

				<div class="single-product">
				<!--	<img class="img-fluid" src="img/product/carroplaceholder.jpg" alt="">
					Html.DisplayFor(model => model.Imagen)-->
					<partial name="_ColorImage" model="Model" />
				</div>
			</div>
			<div class="col-lg-5 offset-lg-1">
				<div class="s_product_text">
					<h3>@Html.DisplayFor(model => model.ColorId)</h3>
					<h2> @Html.DisplayFor(model => model.Nombre)</h2>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="genric-btn success-border circle arrow">
	@Html.ActionLink("Editar", "Edit", new { id = Model.ColorId})
</div>
<a asp-action="Index" class="genric-btn primary small">Regresar</a>

@Html.ActionLink("Subir Imagen", "UploadImage", new { id=Model.ColorId })