@model FrontEnd.Models.CarroVendidoViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Crear un Carro Vendido</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <@Html.HiddenFor(Model=>Model.CarroVendidoId)
            <div class="col-md-12 form-group p_star">
                <label asp-for="RuedaId" class="control-label"></label>
                @Html.DropDownListFor(model=>model.RuedaId, new SelectList(Model.Ruedas,"RuedaId","Nombre"),"--- Seleccionar ---")
                <span asp-validation-for="RuedaId" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group p_star">
                <label asp-for="ColorId" class="control-label"></label>
                @Html.DropDownListFor(model=>model.ColorId, new SelectList(Model.Colores,"ColorId","Nombre"),"--- Seleccionar ---")
                <span asp-validation-for="ColorId" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group p_star">
                <label asp-for="CarroModeloId" class="control-label"></label>
                @Html.DropDownListFor(model=>model.CarroModeloId, new SelectList(Model.CarroModelos,"CarroModeloId","Modelo"),"--- Seleccionar ---")
                <span asp-validation-for="CarroModeloId" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group p_star">
                <label asp-for="SeguroId" class="control-label"></label>
                @Html.DropDownListFor(model=>model.SeguroId, new SelectList(Model.Seguros,"SeguroId","Nombre"),"--- Seleccionar ---")
                <span asp-validation-for="SeguroId" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group p_star">
                <label asp-for="PrecioTotal" class="control-label"></label>
                <input asp-for="PrecioTotal" class="form-control" />
                <span asp-validation-for="PrecioTotal" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group p_star">
                <input type="submit" value="Agregar" class="genric-btn success-border circle arrow" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="genric-btn primary small">Regresar</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
