@{
    ViewData["Title"] = "Contacto";
}

<!--================Contact Area =================-->
<section class="contact_area section_gap_bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<div class="contact_info">
					<div class="info_item">
						<i class="lnr lnr-home"></i>
						<h6>San Jose, San Pedro</h6>
						<p>Aparcamiento, Calle Siles 203, Santa Marta</p>
					</div>
					<br />
					<div class="info_item">
						<i class="lnr lnr-phone-handset"></i>
						<h6><a href="#">(+506) 1234-5678</a></h6>
						<p>Lunes a Viernes 9AM - 6PM</p>
					</div>
					<br />
					<div class="info_item">
						<i class="lnr lnr-envelope"></i>
						<h6><a href="#">XtremeAuto@gmail.com</a></h6>
						<p>¡Envía tus dudas a nuestro correo!</p>
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<br />
				<br />
				<h1 class="text-center title">¿Tienes alguna duda o consulta?</h1>
				<p>
					<strong>
						De existir cualquier posible duda por favor contactar con nosotros por medio de los diferentes medios que dispone y ofrece la empresa.
						Se les estará atendiendo lo más pronto posible, nos comprometemos que se lograrán solventar todas sus dudas y quedaran satisfechos. ¡Aseguramos la eficiencia!
					</strong>
				</p>
				<h3 class="text-center title">Localización</h3>
				<p><center>¡Te invitamos a visitar nuestra sucursal!</center></p>
				<div style="text-align: center">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.0089124881097!2d-84.0375852251395!3d9.933215174180628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e3f47ea4ff37%3A0x7a7818a6a9e5c90c!2sUniversidad%20Fid%C3%A9litas!5e0!3m2!1ses!2scr!4v1691962739929!5m2!1ses!2scr"
							width="600" height="450" style="border:0; margin: 0 auto;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
					</iframe>
				</div>
			</div>
		</div>
	</div>
</section>