@{
    ViewData["Title"] = "Home Page";
}

<title>Tienda Online de Autos</title>


	<div style="max-width: 800px; margin: 50px auto; background-color: #fff; padding: 30px; border-radius: 10px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);">
		<h1 style="color: #333; font-size: 36px; margin-bottom: 20px;">Bienvenido a nuestra Tienda Online de Autos</h1>
		<p style="color: #666; font-size: 18px; line-height: 1.6; margin-bottom: 15px;">Explora nuestra amplia selección de vehículos de distintas marcas y modelos. Nuestra tienda online de autos te ofrece una experiencia única de compra, donde podrás encontrar el auto de tus sueños.</p>
		<p style="color: #666; font-size: 18px; line-height: 1.6; margin-bottom: 15px;"><strong>Características destacadas de nuestro servicio:</strong></p>
		<ul style="color: #666; font-size: 18px; line-height: 1.6; margin: 0 0 15px 20px;">
			<li>Gran variedad de autos nuevos y usados.</li>
			<li>Información detallada y fotos de alta calidad para cada auto.</li>
			<li>Facilidad de navegación y búsqueda para encontrar exactamente lo que buscas.</li>
			<li>Equipo de soporte dedicado disponible para responder a tus preguntas.</li>
		</ul>
		<p style="color: #f39c12; font-weight: bold;">¡No pierdas la oportunidad de tener tu próximo auto con nosotros!</p>

	</div>



<section class="features-area section_gap">
	<div class="container">
		<div class="row features-inner">
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="~/img/features/f-icon1.png" alt="">
					</div>
					<h6>Variedad de Autos</h6>
					<p>De todas las marcas y modelos</p>
				</div>
			</div>
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="~/img/features/f-icon2.png" alt="">
					</div>
					<h6>Seguro</h6>
					<p>Ofertas en los seguros</p>
				</div>
			</div>
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="~/img/features/f-icon3.png" alt="">
					</div>
					<h6>Soporte</h6>
					<p>Las 24 horas del día</p>
				</div>
			</div>
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="~/img/features/f-icon4.png" alt="">
					</div>
					<h6>Pago con Seguridad</h6>
					<p>Sin ningún tipo de riesgo</p>
				</div>
			</div>
		</div>
	</div>
</section>


